<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{friends.title}">Amigos</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{users.email}">Email</th>
						<th th:text="#{users.name}">Nombre</th>
						<th th:text="#{users.surname}">Apellidos</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="friend : ${friendsList}">
						<td th:text="${friend.email}">email@email.com</td>
						<td th:text="${friend.name}">Nombre del usuario</td>
						<td th:text="${friend.lastName}">Apellidos del usuario</a></td>
						<td><a th:id="${'btnFriendDetails' + friend.email}" th:href="${'/friendship/details/' + friend.id}"
						th:text="#{friends.info.details}">Ver Amigo</a>
					</tr>
				</tbody>
			</table>
		</div>
		<footer	th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />

</body>
</html>